#!/usr/bin/env zsh

# => Basic

alias dl='~/Downloads'
alias gh='~/GitHub'

alias uuid='echo ${$(uuidgen)//-/''}'

alias curlip='curl -i http://ip.cn'
alias setproxy='export ALL_PROXY=socks5://127.0.0.1:1086'
alias unsetproxy='unset ALL_PROXY'

# => Git

alias gtr='git_tag_reset'

# => Docker

alias di='docker images'
alias dia='docker images -a'
alias didn='docker_images_delete_none'

alias dst='docker start'
alias dso='docker stop'
alias dp='docker ps'
alias dpa='docker ps -a'
alias dcde='docker_containers_delete_exited'

alias drd='docker run -d'
alias drdp='docker run -d -p'
alias drit='docker run -it'
alias drdit='docker run -d -it'

alias deit='docker exec -it'

alias din='docker inspect'
alias dt='docker tag'
