#!/bin/sh

function nooohooo() {
    echo nooohooo
}

# => Basic

function execute_count() {
    count=0

    while ((count < $1)); do
        eval $2 && ((count = $count + 1))
    done
}

# => Git

function git_tag_reset() {
    git tag -d $1
    git push origin :refs/tags/$1
    git tag $1
    git push origin $1
}

# => Docker

function docker_container_delete_all_exited() {
    docker rm -v $(docker container ls -aq -f status=exited)
}
